# Neon Database URL (e.g., postgresql://user:password@host/db)
DATABASE_URL="postgresql://neondb_owner:npg_nfhs0rCU6DBb@ep-empty-base-anch8yrr-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
# Better Auth Configuration
BETTER_AUTH_SECRET="your_better_auth_secret"
BETTER_AUTH_URL="http://localhost:3000"

# Polar Configuration
POLAR_ACCESS_TOKEN="polar_oat_V3IVkr0Vhs669F07OOi4yTmgTCtWF2aV81JPl3mIk5p"
POLAR_WEBHOOK_SECRET="polar_whs_44wXkQ0GbpTGtWTj5FuhLUtZa1jvieRqfgEQC1pyFBJt"

# ImageKit Configuration
IMAGEKIT_PRIVATE_KEY="private_qEFuSJX7HZJMZk0IiS1nHjjSLuM="
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY="public_6lhbc7yFR/XzTS2JcYkqvvTyRiQ="
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT="https://ik.imagekit.io/wx6h6ox5h"

# Node Environment
NODE_ENV="development"
